@font-face {
    font-family:"VCR";
    src: url("VCR_OSD_MONO_1.001.ttf");
}

body {
	font-family:'VCR', monospace;
	color: #444;
	font-size: 9px;
	line-height: 1.6;
	margin: 40px auto;
	max-width: 650px;
	padding: 0 10px;
}

h1 {
	text-align: center;
}

h2, h3 {
	line-height: 1.2;
}
